* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fffaf0;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 2px 2px 5px 0px black;
}

.navbar {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
 width: 150px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #ffcc00; 
}

/* Main */

main {
    margin-top: 100px;
}

#about {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

.section-about {
    align-items: center;
    margin: 30px;
    background-color: #fffaf0;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 10px 1px black;
    
    grid-column: 2/3;
    grid-row: 1/2;
}

.logo-about {
    width: 200px;
}

.article-about h1 {
    margin-bottom: 10px;
}

.article-about {
    text-align: justify;
    gap: 10px;
}

/* Section About Me*/

#section-me {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-column: 2/3;
    grid-row: 1/2;
    
}

.about-me img {
    display: flex;
    width: 270px;
    border-radius: 10px;
}

.article-me {
    text-align: center;
    width: 70%; 
    margin-top: 10px;  
}

.about-me h2 {
    font-size: 12px;
    color: rgb(111, 111, 111);
    margin-bottom: 5px;
}

.about-me p {
    font-size: 12px;
}

/* grid */

.grid-article {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}

/* section source */

#source {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center ;
}

.section-source {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.section-source img {
    width: 260px;
}

.grid-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
