@media screen and (max-width: 600px) {
    .section-about {
    
    flex-direction: column;
    }

    .grid-article {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 40% 25% 25%;
    }
   
    #about {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    }

    #section-me {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    }

    #source {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center ;
    }

    .section-source {
    flex-direction: column;
    }

    .section-source h1 {
        top: 1049px;
        margin-left: 53px;
    }
}